$fontFamily: 'Open+Sans', Arial, Helvetica, sans-serif;
$primaryTxtColor: #333;
$primaryBkgColor: #cbf9f9;

@mixin reviewsGrid ($columns: repeat(auto-fit, minmax(310px, 1fr)), $gap: 26px) {
    display: grid;
    grid-template-columns: $columns;
    gap: $gap;
}